{% macro colorblock(color='', followup='') %}

  {# This macro generates a block with a background color and returns different text depending on whether it's defined as a follow-up or not. #}

  <div class="module macro"{% if color %} style="background-color: {{color}}"{% endif %}>
    <p>This is {% if followup %}<b>exactly the same</b> {% else %}a {% endif %}macro.
       The background color{% if color %} is set as '{{color}}'{% else %} has not been set for this call{% endif %}.</p>
  </div>
{% endmacro %}
