// Project: <%= fullname %> (<%= shortname %>)
// File purpose: Main stylesheet
// Author: <%= author %>

// Note: Anything that doesn't fit into one of the other files goes here

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
<% if (includeBootstrap) { %>
/* Space out content a bit */
body {
  padding-top: <% if (legacyBootstrap) { %>20px<% } else { %>1.5rem<% } %>;
  padding-bottom: <% if (legacyBootstrap) { %>20px<% } else { %>1.5rem<% } %>;
  -moz-osx-font-smoothing: grayscale;  // better firefox font rendering
  -webkit-font-smoothing: antialiased; // better webkit font rendering
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: <% if (legacyBootstrap) { %>15px<% } else { %>1rem<% } %>;
  padding-left: <% if (legacyBootstrap) { %>15px<% } else { %>1rem<% } %>;
}

/* Custom page header */
.header {
  padding-bottom: <% if (legacyBootstrap) { %>20px<% } else { %>1rem<% } %>;
  border-bottom: <% if (legacyBootstrap) { %>1px<% } else { %>.05rem<% } %> solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: <% if (legacyBootstrap) { %>40px<% } else { %>3rem<% } %>;
}

/* Custom page footer */
.footer {
  padding-top: <% if (legacyBootstrap) { %>19px<% } else { %>1.5rem<% } %>;
  color: #777;
  border-top: <% if (legacyBootstrap) { %>1px<% } else { %>.05rem<% } %> solid #e5e5e5;
}

/* Customize container */
@media (min-width: <% if (legacyBootstrap) { %>768px<% } else { %>48em<% } %>) {
  .container {
    max-width: <% if (legacyBootstrap) { %>730px<% } else { %>46rem<% } %>;
  }
}
.container-narrow > hr {
  margin: <% if (legacyBootstrap) { %>30px<% } else { %>2rem<% } %> 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: <% if (legacyBootstrap) { %>1px<% } else { %>.05rem<% } %> solid #e5e5e5;
}
.jumbotron .btn {
  padding: <% if (legacyBootstrap) { %>14px 24px<% } else { %>.75rem 1.5rem<% } %>;
  font-size: <% if (legacyBootstrap) { %>21px<% } else { %>1.5rem<% } %>;
}

/* Supporting marketing content */
.marketing {
  margin: <% if (legacyBootstrap) { %>40px<% } else { %>3rem<% } %> 0;
}
.marketing p + h4 {
  margin-top: <% if (legacyBootstrap) { %>28px<% } else { %>1.5rem<% } %>;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: <% if (legacyBootstrap) { %>768px<% } else { %>48em<% } %>) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: <% if (legacyBootstrap) { %>30px<% } else { %>2rem<% } %>;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
<% } else { %>
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $body-background;
  color: $text-color;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;  // better firefox font rendering
  -webkit-font-smoothing: antialiased; // better webkit font rendering
}

code {
  background-color: #eee;
  border-radius: 4px;
  padding: 4px 6px;
}

.hero-unit {
  margin: 50px auto 0 auto;
  max-width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}
.footer {
  max-width: 600px;
  margin: 0 auto;
}
<% } -%>

<% if (includePug) { %>
/* Pug Modules */
.modules {
  @include clearfix;
  font-weight: 200;<% if (!includeBootstrap) { %>
  font-size: 14px;
  line-height: 21px;
  margin: 20px auto;
  max-width: 600px;<% } %><% if (!includeBootstrap || legacyBootstrap) { %>

  > p {    
    margin-bottom: 30px;
  }<% } %>

  .module {
    background-color: #eee;
    border-radius: <% if (includeBootstrap && !legacyBootstrap) { %>0.3rem<% } else { %>6px<% } %>;
    font-weight: 700;
    margin: 0 0 <% if (includeBootstrap && !legacyBootstrap) { %>1rem<% } else { %>30px<% } %> 0;
    padding: <% if (includeBootstrap && !legacyBootstrap) { %>1rem 1rem 0.25rem<% } else { %>15px<% if (legacyBootstrap) { %> 15px 5px<% }} %>;
  }

  .mixin {
    clear: both;
    float: left;
    margin: 0 0 <% if (includeBootstrap && !legacyBootstrap) { %>0.5rem<% } else { %>10px<% } %>;
    min-height: <% if (includeBootstrap && !legacyBootstrap) { %>11rem<% } else { %>130px<% } %>;
    padding: <% if (includeBootstrap && !legacyBootstrap) { %>1rem<% } else { %>15px<% } %>;
    width: calc(50% - <% if (includeBootstrap && !legacyBootstrap) { %>0.25rem<% } else { %>5px<% } %>);
    p {
      margin: 0;
    }
    &:nth-of-type(odd) {
      clear: none;
      float: right;
    }
  }
}<% } -%>