// Project: <%= fullname %> (<%= shortname %>)
// File purpose: Custom variables for project
// Author: <%= author %>


$opacityhover: 0.75; // standard opacity for smooth hovers

// Workaround for web fonts with separate files per style (bold, italic, etc.)
<% if (!includeBootstrap) { %>$font-family-sans-serif:          'Helvetica Neue', Helvetica, Arial, sans-serif;
<% } %>$font-family-sans-serif-bold:     "";
$font-family-sans-serif-italic:   "";

<% if (!includeBootstrap) { %>$body-background:         #fff;
$text-color:              #333;
<% } %>

<% if (includeBootstrap) { %>// NOTE: Paste content of bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss below this line to start customizing Bootstrap<% } %>