<% if (includeBootstrap) { %>.container
  .footer
    p &hearts; from the Yeoman team &amp; <a href="http://dahdah.de/en/">Dahdah Design</a>
<% } else { %>
.footer
  p &hearts; from the Yeoman team &amp; <a href="http://dahdah.de/en/">Dahdah Design</a>
<% } %>