//- Pug mixins are short html snippets that can recieve parameters, similar to Javascript functions or Sass mixins. 
//- Use them to keep your static html DRY (e.g. for buttons, product grids, article teasers, etc.)

//- List your mixins here

include /_mixins/example