doctype html
html(class='no-js')
  head
    meta(charset='utf-8')
    meta(content='', name='description')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    title <%= fullname %>
    // Place favicon.ico and apple-touch-icon.png in the root directory
      
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
     
    // build:css styles/main.css
    link(href='styles/main.css', rel='stylesheet')
    // endbuild
    <% if (includeModernizr) { %>
    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
    <% } %>
     
  body
    
    script.
      <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    
    <% if (includeBootstrap) { %>
    .container
      .header
        ul.nav.nav-pills.pull-right
          li.active:  a(href='#') Home
          li:         a(href='#') About
          li:         a(href='#') Contact
         
        h3.text-muted <%= fullname %>
         
      .jumbotron
        h1      'Allo, 'Allo!
        p.lead  Always a pleasure scaffolding your apps.
        p:      a.btn.btn-lg.btn-success(href='#') Splendid!
         
      .row.marketing
        .col-lg-6
           
          h4 HTML5 Boilerplate
          p  HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.

          <% if (includeSass) { %>
          h4 Sass
          p  Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.
          <% } %>

          h4 Bootstrap
          p  Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.

          <% if (includeFastclick) { %>
          h4 Fastclick
          p  FastClick is a simple, easy-to-use library for eliminating the 300ms delay between a physical tap and the firing of a click event on mobile browsers.
          <% } %>

          <% if (includeModernizr) { %>
          h4 Modernizr
          p  Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.
          <% } %>
    
      .footer
        p &hearts; from the Yeoman team
    <% } else { %>

    .hero-unit
      h1 'Allo, 'Allo!
      p You now have

      ul
        li HTML5 Boilerplate
        <% if (includeSass) { %>li Sass<% } else { %>
        li Less<% } if (includeFastclick) { %>
        li Fastclick<% } if (includeModernizr) { %>
        li Modernizr<% } %>
        li Normalize.css
    <% } %>
     
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
     
    <% if (includeBootstrap) {
      var bs = '/bower_components/';

      if (includeSass) {
        bs += 'bootstrap-sass-official/assets/javascripts/bootstrap/';
      } else {
        bs += 'bootstrap/js/';
      }
    }

    if (includeBootstrap) { %>
    // build:js scripts/plugins.js
    script(src='<%= bs %>affix.js')
    script(src='<%= bs %>alert.js')
    script(src='<%= bs %>dropdown.js')
    script(src='<%= bs %>tooltip.js')
    script(src='<%= bs %>modal.js')
    script(src='<%= bs %>transition.js')
    script(src='<%= bs %>button.js')
    script(src='<%= bs %>popover.js')
    script(src='<%= bs %>carousel.js')
    script(src='<%= bs %>scrollspy.js')
    script(src='<%= bs %>collapse.js')
    script(src='<%= bs %>tab.js')
    // endbuild
    <% } %>

    // build:js scripts/vendor.js
    // bower:js
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
