// Project: <%= appname %>
// File purpose: Import <% if (includeBootstrap) { %>original Bootstrap framework and then provide overrides for original .scss files where necessary<% } else { %>all project .scss files<% } %>
// Author: Jerome Dahdah - http://dahdah.io


// bower:scss
// endbower

// All variables required for project
@import "variables";

// Custom mixins for site-wide use
@import "mixins";

// Font vendor styles go here
@import "fonts";

<% if (includeBootstrap) { %>
// Overrides for original Bootstrap .scss files
// @import "type";
// @import "tables";
// etc...<% } %>

// Note: Anything else that isn't a module goes in styles.scss
@import "styles";


// Import other .scss modules here

